html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(25,25,25);
    overflow: hidden;
}

/*Text styles*/
p, a, li, h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", monospace;
    color: aliceblue;
    font-size: 1.5rem;
}

/*Menu styles*/
#menu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: solid 2px aliceblue;
    background-color: steelblue;
}
#menu ul {
    width: 150px;
    margin: 3rem 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
#menu li:hover {
    cursor: pointer;
}
#menuToggle {
    position: absolute;
    top: 1.5rem;
    left: 65px;
    text-decoration: none;
}

/*Workspace styles*/
#workspace {
    margin-left: 200px;
}

/*Window styles*/
.window {
    background: ghostwhite;
    width: 300px;
    height: 300px;
    position: relative;
}
.window p {
    color: rgb(25,25,25);
    font-size: 12px;
}
.statusbar {
    background-color: steelblue;
    height: 20px;
}
.closeWindow {
    color: crimson;
    position: absolute;
    right: 5px;
    line-height: 20px;

}
