html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(25,25,25);
    overflow: hidden;
}

/*Text styles*/
p, a, li, h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Console", monospace;
    color: aliceblue;
    font-size: 15px;
}

/*Menu styles*/
#menu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 2px 0 5px 1px rgba(25,25,25,0.5);
    background-color: rgba(165,65,45,0.8);
}
#menu ul {
    width: 150px;
    margin: 150px 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: none;
}
#menu li:hover {
    cursor: pointer;
}
#menuToggle {
    line-height: 40px;
    /*width: 10px;*/
    /*height: 20px;*/
    position: absolute;
    padding: 35px 35px;
    /*background-color: rgba(25,25,25,0.8);*/
    top: 25px;
    left: 40px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}
#menuToggle span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: aliceblue;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#menuToggle span:nth-child(1) {
    top: 15px;
}
#menuToggle span:nth-child(2), #menuToggle span:nth-child(3) {
    top: 40px;
}
#menuToggle span:nth-child(4) {
    top: 65px;
}
#menuToggle.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
#menuToggle.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#menuToggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#menuToggle.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.menuList img {
    width: 60px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0);
    border: solid 3px rgba(0,0,0,0);

}
.menuList img:hover {
    background-color: rgba(55,55,55,0.5);
    border: solid 3px rgba(25,25,25,0.5);
    border-radius: 5px;
}

/*Workspace styles*/
#workspace {
    padding-left: 150px;
    height: 100vh;
    width: 100%;
    background-color: crimson;
    /*background-image: url("../image/railwaybridge-oz.jpg");*/
    background-image: url("../image/bg.jpg");
}

/*Window styles*/
.window {
    /*background: ghostwhite;*/
    background: rgba(25,25,25,0.9);
    width: 500px;
    height: 500px;
    position: absolute;
    top: 20px;
    left: 170px;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: 1px 2px 3px 3px rgba(25,25,25,0.4);
}
.window p {
    color: rgb(25,25,25);
    font-size: 12px;
}
.statusbar {
    background: linear-gradient(rgb(100,100,100), rgb(25,25,25));
    height: 35px;
    cursor: move;
}
.closeWindow {
    font-family: "Lucida Console", monospace;
    color: aliceblue;
    position: absolute;
    right: 0px;
    font-size: 20px;
    line-height: 25px;
    padding: 5px 15px;
    background: linear-gradient(lightsalmon, tomato);
}
.closeWindow:hover {
    cursor: pointer;
}
.appIcon {
    font-family: "Lucida Console", monospace;
    position: absolute;
    left: 10px;
    font-size: 20px;
    line-height: 35px ;
    color: aliceblue;
}
.winWorkSpace {
    margin: 10px;
}

/*About me window styles*/
.aboutMe {
    font-family: "Lucida Console", monospace;
    background: rgba(25,25,25,0.9);
    color: aliceblue;
    width: 350px;
    height: 470px;
}

.aboutMe p, .aboutMe a {
    font-size: 13px!important;
    color: aliceblue!important;
}

.aboutMe h6 {
    margin-bottom: 5px;
    padding-left: 5px;
    border-left: solid 3px aliceblue;
}

/*Styles for the memory window*/
.memoryWindow img {
    width: 60px;
    margin: 10px;
    padding: 10px;
    background-color: steelblue;
}
